body, html{
    background-color: rgb(20, 20, 71);
}

/* -------Layout------- */

.container{
    margin-left: 50px;
    margin-top: 50px;
    display: grid;
    grid-gap: 9px;
    grid-template-columns:2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 240px 120px 120px;  
}

.div1{
    background-color:hsl(31, 98%, 43%);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.div2{
    background-color: hsl(41, 89%, 48%);
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.div3{
    background-color: hsla(125, 83%, 24%, 0.705);
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.div4{
    background-color: hsl(175, 91%, 31%);
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    
}

.div5{
    background-color: hsl(175, 91%, 31%);
    grid-column: 2 / 5;
    grid-row: 3 / 4;
}